h6{
  margin-top:5px;
  margin-bottom:5px;
}

.all-issue-container{
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
  border-radius: 10px;
}

.issue-container{
  border-top-style: solid;
  border-top-width: 1px;
  min-height: 10vh;
  padding: 10px;
  border-color: darkgray;
  color:black;
  word-wrap: break-word;
  background-color: white;
  cursor: pointer;
}

.issue-button{
  width: 80px;
  margin-right: 20px;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  background-color: #3397CF;
  color: white;
  border-style: none;
}

.issue-button:hover{
  background-color: #589dc5;
  cursor: pointer;
}



.input-field{
  font-size: 20px;
  resize: none;
  border-radius: 10px;
  padding:10px;
}

.comment-display-button{
  margin-bottom: 10px;
  border-bottom-style: solid;
  border-color:transparent;
  background: none;
  color:gray;
  cursor: pointer;
  padding:0;
  transition-duration: 0.5s;
}

.comment-display-button::before{
  content: "";
  display: inline-block;
  width: 20px;
  height:1px;
  margin-bottom:3px;
  margin-right:2px;
  background-color: lightgray;
  
}

.comment-display-button:hover{
  color:rgb(64, 143, 143);
}
